table {
    width: 99%;
    margin: 10px auto;
}

button {
    float: right;
    margin: 10px;
    background-color: #6163ff;
    color: whitesmoke;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}
p {
    margin: 10px;
}